/* SnackbarJS - MIT LICENSE (https://github.com/FezVrasta/snackbarjs/blob/master/LICENSE.md) */
#snackbar-container{position:fixed;left:20px;bottom:0;z-index:99999}.snackbar{overflow:hidden;clear:both;min-width:288px;max-width:568px;cursor:pointer;opacity:0}.snackbar.snackbar-opened{height:auto;opacity:1}@media (max-width:767px){#snackbar-container{left:0!important;right:0;width:100%}#snackbar-container .snackbar{min-width:100%}#snackbar-container [class="snackbar snackbar-opened"] ~ .snackbar.toast{margin-top: 20px}#snackbar-container [class="snackbar snackbar-opened"]{border-radius:0;margin-bottom:0}}

body {
  background-color: #f6f8fa;
  background-image: url("../images/bg.png");
  padding-top: 90px;
}

.no-margin-top {
  margin-top: 0!important;
}

.displayB {
	display: block;
}

.displayN {
	display: none;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.navbar .dropdown-menu li.active > a:focus, .navbar .dropdown-menu li.active > a:hover {
  background-color: #eee;
  color: #009688!important;
}

.form-group .checkbox label, .form-group .radio label, .form-group label {
  color: #a0a0a0;
}

.form-group {
  margin-top: 8px;
}

.form-group label.control-label {
  font-size: 14px;
}

.container .navbar-collapse{
	font-size: 16px;
}

.form-group.register .form-control {
	margin-bottom: 1.3%;
	width: 30%;
}

.form-group.register label {
	padding-top: 8px;
	margin-left: 10%;
	text-align: right;
}

.form-group label {
  font-size: 14px!important;
}

.form-group.register label.cl {
	padding-top: 0px;
	margin-left: 1%;
	margin-right: 10px;
	text-align: right;
	cursor:pointer;
}

.form-group.register img {
	margin-right: 50px;
}

.form-group.register ul.list-group {
	margin: 0 15%;
    width: 70%;
}

.form-group.register ul.list-group li {
	text-align: center;
}

.form-group.register ul.list-group li.m {
	margin-bottom: 1.2%;
}

.form-group.register ul.list-group li.l {
	margin-top: 1.2%;
}

<<<<<<< HEAD
=======
.form-group .client {
	float: left;
	margin: 6px 0;
	width: 50%;
}

>>>>>>> origin/master
#corp-client {
	display: none;
}

.btn-group.bootstrap-select {
	margin-bottom: 1.3%!important;
}

.icon {
	font-size: 2em;
	text-align: center;
	width: 100%;
}

.iconPre {
	font-size: 2em;
	text-align: left;
	width: 30%;
	margin-bottom: 1.2%;
}

.desc {
	font-size: 16px;
	padding: 0 18%;
}

.desc li{
	list-style-type: none;
}

.datepicker {
  z-index: 9999!important;
}

.alert.plan {
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-group.bootstrap-select {
  border: 1px solid #f0f0f0;
	list-style-type: none; 
}
