body {
  background-color: #f6f8fa;
  background-image: url("../images/bg.png");
}

.displayB {
	display: block;
}

.displayN {
	display: none;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.form-group.register .form-control {
	margin-bottom: 1.3%;
	width: 30%;
}

.form-group.register label {
	padding-top: 8px;
	margin-left: 10%;
	text-align: right;
}

.form-group.register label.cl {
	padding-top: 0px;
	margin-left: 1%;
	margin-right: 10px;
	text-align: right;
	cursor:pointer;
}

.form-group.register img {
	margin-right: 50px;
}

.form-group.register ul.list-group {
	margin: 0 15%;
    width: 70%;
}

.form-group.register ul.list-group li {
	text-align: center;
}

.form-group.register ul.list-group li.m {
	margin-bottom: 1.2%;
}

.form-group.register ul.list-group li.l {
	margin-top: 1.2%;
}


.form-group .client {
	float: left;
	margin: 6px 0;
	width: 50%;
}

#corp-client {
	display: none;
}

.submit {
	margin-left: 44%;
}

.submitL {
	display: block;
	margin-top: 15px;
	margin-left: 44%;
}

.btn-group.bootstrap-select {
	margin-bottom: 1.3%!important;
	margin-right: 200px;
}