RewriteEngine on
	
# RewriteCond %{HTTP_HOST} ^lunite.net [NC]
# RewriteRule ^(.*)$ http://www.lunite.net/$1 [L,R=301]
Rewriterule ^clientes/registrar-turno index.php?action=registrar-turno
Rewriterule ^clientes/solicitar-plan index.php?action=solicitar-plan
Rewriterule ^clientes/planificar-plan index.php?action=planificar-plan
Rewriterule ^clientes/modificar-plan index.php?action=modificar-plan
Rewriterule ^clientes/mis-turnos index.php?action=mis-turnos
Rewriterule ^tipos-de-lavado index.php?action=tipos-de-lavado
Rewriterule ^agregar-tipo-de-lavado index.php?action=agregar-tipo-de-lavado
Rewriterule ^editar-tipo-de-lavado index.php?action=editar-tipo-de-lavado
Rewriterule ^iniciar-sesion login.php
Rewriterule ^registro register.php
Rewriterule ^recuperar-contrasena password_reset.php