RewriteEngine on
	
# RewriteCond %{HTTP_HOST} ^lunite.net [NC]
# RewriteRule ^(.*)$ http://www.lunite.net/$1 [L,R=301]
Rewriterule ^clientes/planes-de-lavado index.php?action=plans
Rewriterule ^iniciar-sesion login.php
Rewriterule ^registro register.php