RewriteEngine on
	
# RewriteCond %{HTTP_HOST} ^lunite.net [NC]
# RewriteRule ^(.*)$ http://www.lunite.net/$1 [L,R=301]
Rewriterule ^cerrar-sesion index.php?action=cerrar-sesion
Rewriterule ^clientes/registrar-turno-2 index.php?action=registrar-turno&op=2
Rewriterule ^clientes/registrar-turno-3 index.php?action=registrar-turno&op=3
Rewriterule ^clientes/registrar-turno index.php?action=registrar-turno
Rewriterule ^clientes/solicitar-plan-2 index.php?action=solicitar-plan&op=2
Rewriterule ^clientes/solicitar-plan-3 index.php?action=solicitar-plan&op=3
Rewriterule ^clientes/solicitar-plan index.php?action=solicitar-plan
Rewriterule ^clientes/planificar-plan index.php?action=planificar-plan
Rewriterule ^clientes/modificar-plan index.php?action=modificar-plan
Rewriterule ^clientes/mis-turnos index.php?action=mis-turnos
Rewriterule ^tipos-de-lavado-particular index.php?action=tipos-de-lavado-particular
Rewriterule ^tipos-de-lavado-corporativo index.php?action=tipos-de-lavado-corporativo
Rewriterule ^agregar-tipo-de-lavado index.php?action=agregar-tipo-de-lavado
Rewriterule ^editar-tipo-de-lavado index.php?action=editar-tipo-de-lavado
Rewriterule ^lista-empleados index.php?action=lista-empleados
Rewriterule ^agregar-empleado index.php?action=agregar-empleado
Rewriterule ^editar-empleado index.php?action=editar-empleado
Rewriterule ^operador/registrar-turno index.php?action=operador-agregar-turno
Rewriterule ^operador/registrar-plan index.php?action=operador-agregar-plan
Rewriterule ^operador/ver-turnos index.php?action=operador-ver-turnos
Rewriterule ^servicios/registrar-servicio index.php?action=registrar-servicio
Rewriterule ^servicios/editar-servicio index.php?action=editar-servicio
Rewriterule ^servicios/lista-servicio index.php?action=lista-servicio
Rewriterule ^externo/actualizar-turnos index.php?action=externo-actualizar-turnos
Rewriterule ^iniciar-sesion login.php
Rewriterule ^registro register.php
Rewriterule ^recuperar-contrasena password_reset.php
Rewriterule ^informes index.php?action=informes
Rewriterule ^informes-clientes index.php?action=informes-clientes
Rewriterule ^confeccionar-hoja-de-ruta index.php?action=confeccionar-hoja-de-ruta
Rewriterule ^lista-insumos index.php?action=lista-insumos
Rewriterule ^agregar-insumo index.php?action=agregar-insumo
Rewriterule ^editar-insumo index.php?action=editar-insumo
Rewriterule ^insumos-cantidad index.php?action=insumos-cantidad
Rewriterule ^encargado-playa/ver-turnos index.php?action=playa-ver-turnos
Rewriterule ^encargado-playa/actualizar-turnos index.php?action=playa-actualizar-turnos
