<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
		  <rules>
		    <rule name="Rewrite to registrar turno">
		      <match url="^clientes/registrar-turno" />
		      <action type="Rewrite" url="index.php?action=registrar-turno" />
		    </rule>
		    <rule name="Rewrite to solicitar plan">
		      <match url="^clientes/solicitar-plan" />
		      <action type="Rewrite" url="index.php?action=solicitar-plan" />
		    </rule>
		    <rule name="Rewrite to planificar plan">
		      <match url="^clientes/planificar-plan" />
		      <action type="Rewrite" url="index.php?action=planificar-plan" />
		    </rule>
		    <rule name="Rewrite to modificar plan">
		      <match url="^clientes/modificar-plan" />
		      <action type="Rewrite" url="index.php?action=modificar-plan" />
		    </rule>
		    <rule name="Rewrite to ver turnos">
		      <match url="^clientes/mis-turnos" />
		      <action type="Rewrite" url="index.php?action=mis-turnos" />
		    </rule>
		    <rule name="Rewrite to tipos de lavado">
		      <match url="^tipos-de-lavado" />
		      <action type="Rewrite" url="index.php?action=tipos-de-lavado" />
		    </rule>
		    <rule name="Rewrite to agregar tipos de lavado">
		      <match url="^agregar-tipo-de-lavado" />
		      <action type="Rewrite" url="index.php?action=agregar-tipo-de-lavado" />
		    </rule>
		    <rule name="Rewrite to editar tipos de lavado">
		      <match url="^editar-tipo-de-lavado" />
		      <action type="Rewrite" url="index.php?action=editar-tipo-de-lavado" />
		    </rule>
		    <rule name="Rewrite to lista empleados">
		      <match url="^lista-empleados" />
		      <action type="Rewrite" url="index.php?action=lista-empleados" />
		    </rule>
		    <rule name="Rewrite to agregar empleado">
		      <match url="^agregar-empleado" />
		      <action type="Rewrite" url="index.php?action=agregar-empleado" />
		    </rule>
		    <rule name="Rewrite to editar empleado">
		      <match url="^editar-empleado" />
		      <action type="Rewrite" url="index.php?action=editar-empleado" />
		    </rule>
		    <rule name="Rewrite to registrar turno (operador)">
		      <match url="^operador/registrar-turno" />
		      <action type="Rewrite" url="index.php?action=operador-agregar-turno" />
		    </rule>
		    <rule name="Rewrite to registrar solicitud de plan (operador)">
		      <match url="^operador/registrar-plan" />
		      <action type="Rewrite" url="index.php?action=operador-agregar-plan" />
		    </rule>
		    <rule name="Rewrite to lista de turnos de lavado (operador)">
		      <match url="^operador/ver-turnos" />
		      <action type="Rewrite" url="index.php?action=operador-ver-turnos" />
		    </rule>
		    <rule name="Rewrite to login.php">
		      <match url="^iniciar-sesion" />
		      <action type="Rewrite" url="login.php" />
		    </rule>
		    <rule name="Rewrite to register">
		      <match url="^registro" />
		      <action type="Rewrite" url="register.php" />
		    </rule>
		    <rule name="Rewrite to password reset">
		      <match url="^recuperar-contrasena" />
		      <action type="Rewrite" url="password_reset.php" />
		    </rule>
		    <rule name="Rewrite to registrar servicio">
		      <match url="^servicios/registrar-servicio" />
		      <action type="Rewrite" url="index.php?action=registrar-servicio" />
		    </rule>
		    <rule name="Rewrite to editar servicio">
		      <match url="^servicios/editar-servicio" />
		      <action type="Rewrite" url="index.php?action=editar-servicio" />
		    </rule>
		    <rule name="Rewrite to hoja-de-ruta">
		      <match url="^confeccionar-hoja-de-ruta" />
		      <action type="Rewrite" url="index.php?action=confeccionar-hoja-de-ruta" />
		    </rule>
		    <rule name="Rewrite to informes">
		      <match url="^informes" />
		      <action type="Rewrite" url="index.php?action=informes" />
		    </rule>
		    <rule name="Rewrite to informes-clientes">
		      <match url="^informes-clientes" />
		      <action type="Rewrite" url="index.php?action=informes-clientes" />
		    </rule>
		    <rule name="Rewrite to lista insumos">
		      <match url="^lista-insumos" />
		      <action type="Rewrite" url="index.php?action=lista-insumos" />
		    </rule>
		    <rule name="Rewrite to agregar insumo">
		      <match url="^agregar-insumo" />
		      <action type="Rewrite" url="index.php?action=agregar-insumo" />
		    </rule>
		  </rules>
		</rewrite>
    </system.webServer>
</configuration>