<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
		  <rules>
		    <rule name="Rewrite to planes de lavado">
		      <match url="^clientes/planes-de-lavado" />
		      <action type="Rewrite" url="index.php?action=plans" />
		    </rule>
		    <rule name="Rewrite to login.php">
		      <match url="^iniciar-sesion" />
		      <action type="Rewrite" url="login.php" />
		    </rule>
		    <rule name="Rewrite to register">
		      <match url="^registro" />
		      <action type="Rewrite" url="register.php" />
		    </rule>
		  </rules>
		</rewrite>
    </system.webServer>
</configuration>