<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
		  <rules>
		    <rule name="Rewrite to article.aspx">
		      <match url="^iniciar-sesion" />
		      <action type="Rewrite" url="login.php" />
		    </rule>
		  </rules>
		</rewrite>
    </system.webServer>
</configuration>